doctype html
html
  head
    style
      include wing.css
    style
      include styles.css
    title=name
  body
    div(class="container")
      div(class="cards horizontal-align vertical-align")
        div(class="card")
          h5(class="card-header")=name
          img(src=image class="card-body")
          p(class="card-body")
            b Author: #{author}
            br
            b Pages: #{pages}
            br
            b Rating: #{rating}
            br
            #{description}
          div(class="card-footer center text-center")
            p
              a(href=mobi class="button") mobi
              span   
              a(href=epub class="button") epub
              span   
              a(href=pdf class="button") pdf